<!DOCTYPE html>
html
	head
		title KOT Desk
		include ./meta.pug
	body
		div(class="container-fluid")
			include ./navheader.pug
			
			div(style="margin-top: 60px;")
				h1 Please contact us at@ 17XXXXXX
											
			include ./navfooter.pug
