doctype html
html
	head
		title Hello Pug
	body
		// This is a pug comment
		p.greetings#people Hello World!
		div.
			But that gets tedious if you have lot of text.
			You can use "." at the end of tag to denote block of text.
			To put tags inside this block, simply enter tag in a new line and
			indent it accordingly.
			
		div.container.column.main#division(width="100", height="100").
			But that gets tedious if you have lot of text.
			You can use "." at the end of tag to denote block of text.
			To put tags inside this block, simply enter tag in a new line and
			indent it accordingly.