footer(style="padding: 40px 0; background: #f7f7f7; display: block; box-sizing: border-box;")
	div(class="row")
		div(class="col-sm-4")
			h4 HEADING1
			ul
				li Link1
				li Link2
				li Link 3
				li Link 4
				li Link 5
		div(class="col-sm-4")
			h4 HEADING1
			ul
				li Link1
				li Link2
				li Link 3
				li Link 4
				li Link 5	
		div(class="col-sm-4")
			h4 HEADING1
			ul
				li Link1
				li Link2
				li Link 3
				li Link 4
				li Link 5
		